/*__________________________zapiskurs____________________________*/

.checkbox_block img {
  width: 100%;
  height: auto;
}

.checkbox_block {
  font-size: 15px;
}

.kurslider {
  margin: 0 5px 10px 5px !important;
  padding: 0 !important;
}
/*__________________________zapiskurs____________________________*/